.metadata
RemoteSystemsTempFiles/
.git
Collections/.idea/
Collections/Collections.iml
Collections/.classpath
Collections/.gitignore
Collections/.project
Collections/.settings/org.eclipse.jdt.core.prefs
Collections/bin/
